<div class="ui page stackable grid photo_detail_inner" data-ng-controller="photoDetailController as photo" data-ng-cloak data-ng-init="photo.id = <%=@photo.id%>">
	<div data-mouse-pan-bg class="row image_row" data-ng-class="photo.mainImage.rowClass" data-phb-keydown="photo.toggleFullRes" data-height="<%=@photo.height %>" data-width="<%=@photo.width %>" data-ng-style="photo.mainImage.containerStyle">
		<div class="nav left two wide column">
		<% unless @photo_next_link.nil? %><a data-phb-keydown="photo.showPrevPhoto" href="<%= @photo_next_link %>">
			<span data-svg-icon data-icon-name="prev" width="53" height="44" data-viewbox="0 0 60 44" data-speed="350" data-easing="backout" class="icon"></span></a>
		<% end %>
		</div>
		<div class="photo twelve wide column">
			<img class="ui centered image" src="<%=@photo.thumbnails.url(:original)%>" alt="<%=@photo.name%>" data-ng-style="photo.mainImage.imageStyle">
		</div>
		<div class="nav right two wide column">
		<% unless @photo_pre_link.nil? %><a data-phb-keydown="photo.showNextPhoto" href="<%= @photo_pre_link %>">
			<span data-svg-icon data-icon-name="prev" width="53" height="44" data-viewbox="0 0 60 44" data-speed="350" data-easing="backout" class="icon"></span></a>
		<% end %>
		</div>
		<div class="photo_maximized"></div>
	</div>

	<div class="colors row">
		<div class="centered ten wide column">
		<%@photo.colors.map.with_index do |color, i|%>
			<div class="color color_<%=i%>"><a href="#" title="<%=color["colorName"]%>"><%=color["hexOriginal"]%></a></div>
		<%end%>
		</div>
	</div>

	<div class="ui hidden section divider"></div>
	<div class="three column row">
		<div class="column description">
			<h1 class="ui inverted header">
				<img src="<%=@photo.photographer.userpic %>" alt="" class="ui circular avatar image">
				<div class="content">
				<%= @photo.name  %>
				<div class="sub header"><%= @photo.photographer.fullname.titleize %> <%= format_city_country  @photo.photographer%></div>
				</div>
			</h1>
			<p><noindex><%==@photo.description %></noindex></p>
		</div>
		<div class="column exif">
			<div class="ui stackable two column grid">
				<div class="column">
					<div class="ui inverted list">
						<%==semantic_list_item 'Камера', @photo.camera.name, '' if @photo.camera%>
						<%==semantic_list_item 'Объектив', @photo.lens, ''%>
						<%==semantic_list_item 'Фокусное расстояние', @photo.focal_length, 'мм'%>
						<%==semantic_list_item 'ISO', @photo.iso, ''%>
						<%==semantic_list_item 'Выдержка', @photo.shutter_speed, 'с'%>
						<%==semantic_list_item 'Диафрагма', @photo.aperture, ''%>
					</div>
				</div>
				<div class="column">
					<div class="ui inverted list">
						<div class="item"><label>Рубрика:</label> <a href="<%=categories_path @photo.category.code %>"><%=@photo.category.name_l18n %></a></div>
						<div class="item"><label>Опубликовано:</label> <span class="time" created-at="<%= @photo.created_at %>"><%= @photo.created_at %></span></div>
						<!--<%unless @photo.taken_at.nil?%><div class="item"><label>Сфотографировано:</label> <span class="time" created-at="<%= @photo.taken_at %>"><%= @photo.taken_at %></span></div><%end%>-->
					</div>
				</div>
			</div> 
			
		</div>
		<div class="column">
			<div class="sharebox">
				<div class="like vkontakte" data-sharebox="vkontakte" data-link="http://photobazaar.ru/photo/<%=@photo.id%>">
					<span data-svg-icon data-icon-name="vk" width="60" height="24" data-viewbox="0 0 65 24" data-speed="350" data-easing="backout" class="icon"></span> <span class="count" data-ng-bind="like.count"></span>
				</div>
				<div class="like facebook" data-sharebox="facebook" data-link="http://photobazaar.ru/photo/<%=@photo.id%>">
					<span data-svg-icon data-icon-name="fb" width="60" height="24" data-viewbox="0 0 65 24" data-speed="350" data-easing="backout" class="icon"></span> <span class="count" data-ng-bind="like.count"></span>
				</div>
				<div class="like twitter" data-sharebox="twitter" data-text="Фото <%= @photo.name %> от фотографа <%= @photo.photographer.fullname.titleize %>" data-link="http://photobazaar.ru/photo/<%=@photo.id%>">
					<span data-svg-icon data-icon-name="tw" width="60" height="24" data-viewbox="0 0 65 24" data-speed="350" data-easing="backout" class="icon"></span> <span class="count" data-ng-bind="like.count"></span>
				</div>
			</div>
			<div class="ui hidden section divider"></div>
			<%==static_map_tag @photo.longitude, @photo.latitude, '600x120', '10'%>
		</div>
	</div>
	<div class="ui hidden section divider"></div>


	<div class="row">
		<div class="centered ten wide help column">

			<div class="ui relaxed small horizontal list">
				<div class="item">Быстрые клавиши:</div>
				<div class="item">
					<span data-svg-icon data-icon-name="left_key" width="20" height="20" data-viewbox="0 0 32 32" data-speed="350" data-easing="backout" class="icon"></span>
					<div class="content aligned">Предыдущее фото</div>
				</div>
				<div class="item">
					<span data-svg-icon data-icon-name="right_key" width="20" height="20" data-viewbox="0 0 32 32" data-speed="350" data-easing="backout" class="icon"></span>
					<div class="content aligned">Cледующее фото</div>
				</div>
				<div class="item">
					<span data-svg-icon data-icon-name="m_key" width="20" height="20" data-viewbox="0 0 32 32" data-speed="350" data-easing="backout" class="icon"></span>
					<div class="content aligned">Увеличить</div>
				</div>
			</div>

		</div>
	</div>

</div>