<% title "Рубрика "+@cat.name_l18n+" на PhotoBazaar.ru - Лучшие фотографии со всего мира каждый день" %>

<% content_for :stylesheets do %> 
<style type="text/css">
    .header-wrap{
      display: block;
    }
    .header_bg{
        background: <%= @best_photo_in_category.base_color%> url(<%= @best_photo_in_category.thumbnails.url(:compressed) %>) no-repeat center center;
        background-size: cover;
        color: #ffffff;
    }
    .header_bg_cloak {
        background: linear-gradient(to top, #101010 0%, rgba(5,5,5,0.6) 40%,rgba(<%= @best_photo_bg_color %>) 100%);
    }
</style>
<% end %>

<% content_for :content do %>
<%= render "template/sidebar" %>
<div class="pusher" data-phb-content>
  <%= render "template/top_menu" %>
  <%= render "photos" %>
  <img src="<%= @best_photo_in_category.thumbnails.url(:compressed) %>" width="0" height="0" class="hidden">
  <%= render "template/footer" %>
</div>
<% end %>

<% content_for :partial_render do %><!-- вывод партиала для бесконечной подгрузки в ленте -->
  <%= render @photos %>
<% end %>

<% content_for :ajax_page_load_content do %>
  <%= render "template/top_menu" %>
  <%= render "photos" %>
  <img src="<%= @best_photo_in_category.thumbnails.url(:compressed) %>" width="0" height="0" class="hidden">
  <%= render "template/footer" %>
<% end %>