<% title "Фото " + @photo.name + ", фотограф " + @photo.photographer.fullname.titleize + " - PhotoBazaar.ru - Лучшие фотографии со всего мира каждый день" %>

<% content_for :page_meta do %> 
	<meta name="title" content='Фото "<%= @photo.name %>"' />
	<meta name="description" content="<%= meta_description @photo %>" />
	<link rel="image_src" href="<%=@photo.local_image_url%>" />
	<meta property="og:title" content='Фото "<%= @photo.name %>"' />
	<meta property="og:description" content="<%= meta_description @photo %>" />
	<meta property="og:image" content="http://photobazaar.ru<%=@photo.local_image_url%>" />
	<meta property="og:url" content="http://photobazaar.ru/photo/<%=@photo.id%>" />
	<meta property="og:site_name" content="PhotoBazaar" />
	<meta property="twitter:card" value="photo">
	<meta property="twitter:site" value="PhotoBazaar">
	<meta property="twitter:title" value="<%= @photo.name %>">
	<meta property="twitter:creator" value="<%= @photo.photographer.username %>">
	<meta property="twitter:image:src" value="http://photobazaar.ru<%=@photo.local_image_url%>">
	<meta property="twitter:domain" value="photobazaar.ru">
<% end %>

<% content_for :stylesheets do %> 
<style id="additional_styles" type="text/css"><%@photo.colors.map.with_index do |color, i|%>
	.color_<%=i%> {
		background-color: <%=color["hexOriginal"]%>;
	}
	<%end%>
	.image_row .photo_maximized{
		background-image: url(<%=@photo.thumbnails.url(:compressed)%>);
	}
	<%if @photo.height > @photo.width then%>
	.image_row .photo_maximized{
		background-size: contain!important;
	}
	<%end%>
</style>
<% end %>

<% content_for :content do %>
<%= render "template/sidebar" %>
<div class="pusher" data-phb-content data-ng-class="page.content_class">
  <%= render "template/top_menu_fixed" %>
  <%= render "photo_detail" %>
  <%= render "template/footer" %>
</div>
<% end %>

<% content_for :ajax_page_load_content do %>
  <%= render "template/top_menu_fixed" %>
  <%= render "photo_detail" %>
  <%= render "template/footer" %>
<% end %>