<% title "Свежие фотографии на PhotoBazaar.ru - Лучшие фотографии со всего мира каждый день" %>

<% content_for :stylesheets do %> 
<style id="additional_styles" type="text/css">
    .header-wrap{
      display: block;
    }
    .header_bg{
        background: <%= @best_photo_of_day.base_color%> url(<%= @best_photo_of_day.thumbnails.url(:compressed) %>) no-repeat center center;
        background-size: cover;
        color: #ffffff;
    }
    .header_bg_cloak {
        background: linear-gradient(to top, #101010 0%, rgba(5,5,5,0.6) 40%,rgba(<%= @best_photo_bg_color %>) 100%);
    }
</style>
<% end %>

<% content_for :content do %>
<%= render "template/sidebar" %>
<div class="pusher" data-phb-content data-ng-class="page.content_class">
  <%= render "template/top_menu" %>
  <%= render "photos" %>
  <img src="<%= @best_photo_of_day.thumbnails.url(:compressed) %>" width="0" height="0" class="hidden">
  <%= render "template/footer" %>
</div>
<% end %>

<% content_for :partial_render do %><!-- вывод партиала для бесконечной подгрузки в ленте -->
  <%= render @photos %><% if @render_another_photo_of_day then %><div another-photo-of-the-day class="photo_of_the_day" data-number="<%= @photo_of_current_page_number %>" data-photo-url="<%= @photo_of_current_page.thumbnails.url(:compressed) %>" data-hover-color="<%= @photo_of_current_page_bg_color %>"></div><% end %>
<% end %>

<% content_for :ajax_page_load_content do %>
  <%= render "template/top_menu" %>
  <%= render "photos" %>
  <img src="<%= @best_photo_of_day.thumbnails.url(:compressed) %>" width="0" height="0" class="hidden">
  <%= render "template/footer" %>
<% end %>