<% title "Фото " + @photo.name + ", фотограф " + @photo.photographer.name + " - PhotoBazaar.ru - Лучшие фотографии со всего мира каждый день" %>

<% content_for :stylesheets do %> 
<style id="additional_styles" type="text/css"><%@photo.colors.map.with_index do |color, i|%>
	.color_<%=i%> {
		background-color: <%=color["hexOriginal"]%>;
	}
	<%end%>
	.image_row .photo_maximized {
		background-image: url(<%=@photo.thumbnails.url(:original)%>);
	}
	<%if @photo.height > @photo.width then%>
	.image_row .photo_maximized {
		background-size: contain!important;
	}
	<%end%>
</style>
<% end %>

<% content_for :content do %>
<%= render "template/sidebar" %>
<div class="pusher" data-phb-content data-ng-class="page.content_class">
  <%= render "template/top_menu_fixed" %>
  <%= render "photo_detail" %>
  <%= render "template/footer" %>
</div>
<% end %>

<% content_for :ajax_page_load_content do %>
  <%= render "template/top_menu_fixed" %>
  <%= render "photo_detail" %>
  <%= render "template/footer" %>
<% end %>