<% title @photo.name + " - PhotoBazaar.ru - Лучшие фотографии со всего мира каждый день" %>

<% content_for :stylesheets do %> 
<style id="additional_styles" type="text/css">
  
</style>
<% end %>

<% content_for :content do %>
<%= render "template/sidebar" %>
<div class="pusher" data-phb-content data-ng-class="page.content_class">
  <%= render "photo_detail" %>
  <%= render "template/footer" %>
</div>
<% end %>

<% content_for :ajax_page_load_content do %>
  <%= render "photo_detail" %>
  <%= render "template/footer" %>
<% end %>